@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --bg-color: #03001A;
    --bg-color-box: #05002B;
    --bg-blue: #72FFD1;
    --bg-pink: #B62797;
    --bg-orange: #F67421;
    --header-color: rgb(255, 255, 255, 0.05);
    ;

    --text-color: #fff;

    --font-title-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-color)
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.322)
}

hr {
    border-color: #aaa;
    box-sizing: border-box;
    width: 80%;
}

section[id] {
    scroll-margin-top: 10vh;
}

#lancamentos {
    scroll-margin-top: 10vh;
}

/*Header*/
.header {
    margin: auto;
    top: 0;

    left: 0%;
    right: 0%;
    margin-top: 2%;
    padding: 5px;
    align-self: center;

    width: 95vw;
    position: fixed;
    height: 9vh;
    z-index: 100;

    background-color: var(--header-color);
    border-radius: 25px;

    display: flex;
    align-items: center;
    transition: 500ms;
}


#businessName {
    margin-left: 20px;
    font-size: 2vw;
    font-weight: var(--font-title-weight);
}

#menu-button {
    display: none;
}

.rightSideText {
    height: auto;
    margin-left: auto;
}

.rightSideText>a {

    margin-right: 1vw;
}

.headerText {
    display: inline;
    text-decoration: none;
    font-size: 2vw;
    padding-right: 35px;

}

.menu {
    display: none;
}

/*Header*/





/*home*/
#colorOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#gameName {
    font-size: 3vw;
    margin-bottom: 4%;
    font-family: "Libre Baskerville", serif;
    font-weight: var(--font-title-weight);
}

#gameDesc {
    font-size: 1.5vw;
}

.topBackground {
    width: 100%;
    height: 100vh;
    background-image: url(../img/FundoPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gameInfo {
    position: relative;
    top: 50vh;
    margin-left: 5%;
    max-width: 55%;
}

/*home*/



/*missão, visão, valores*/
#mission {
    border-color: var(--bg-orange);
}

#vision {
    border-color: var(--bg-purple);
}

#values {
    border-color: var(--bg-blue);
}

#line {
    left: 0;
    top: -13px;
    position: absolute;
    width: 155px;
    height: 300px;
    /* z-index: -1; */
}

#line2 {
    z-index: -1;
    left: -10px;
    top: 0px;
    position: absolute;
    width: 155px;
    height: 275px;
}

#slogan {
    position: relative;
    top: 100px;
    font-size: 4vw;
    font-weight: var(--font-title-weight);
}

#MVVSection {
    position: relative;
    top: 31vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.MVVBackground {
    position: relative;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    text-align: center;
}

.MVVTitle {
    background-color: var(--bg-color-box);
    font-size: 2vw;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 25%;
    height: 45vh;
    font-weight: var(--font-title-weight);

    border-radius: 25px;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MVVTitle p {
    margin-top: 20px;
}

.MVVType {
    font-size: 2.5vw;
    font-weight: var(--font-title-weight);
    font-family: "Libre Baskerville", serif;
}

.MVVDescription {
    font-size: 1.5vw;
    font-family: Montserrat, serif;
    font-weight: 200;
    width: 70%;
    text-align: justify;
    hyphens: auto;
}

/*missão, visão, valores*/



/*Area lancamentos*/
#laranja {
    background-color: var(--bg-orange);
    top: 300px;
    left: 5vw;
}

#azul {
    background-color: var(--bg-blue);
    right: 10vw;
    top: 450px;
    z-index: -3;
}

#roxo {
    background-color: #511f98;
    top: 700px;
    right: 15vw;
    z-index: -2;
    width: 70vw;
}

#rosa {
    width: 30vw;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    background-color: var(--bg-pink);
    top: 800px;
    left: 10vw;
    z-index: -1;
}

#fundo {
    position: absolute;
    min-height: 100%;
    backdrop-filter: blur(250px);
    width: 100%;
    /* padding: 40px; */
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#textoLancamentos {
    width: 40%;
}

#descricaoLancamentos {
    text-align: left;
    line-height: 120%;
    font-size: 1.5vw;
}


#secaoImagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 100%;
    gap: 1.5vh;
}

#img1 {
    width: 25vw;
    height: 50vh;
    background-image: url(/img/FundoPrincipal.jpg);

}

#img2 {
    width: auto;
    height: 24vh;
    background-image: url(/img/fotocarro.jpeg);
}

#img3 {
    width: auto;
    height: 24vh;
    background-image: url(/img/fotopredio.jpeg);
}

#img4 {
    width: 100%;
    height: 40vh;
    background-image: url(/img/fotoprediocarro.jpeg);

}

#imgContainer {
    margin: 0;
    width: 23vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#img-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
}

.areaLancamentos {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    min-height: 120vh;
    height: auto;
    overflow: hidden;
}

.nomeLanc {
    font-size: 40px;
    margin: 20px;
}

.lancamentosImagens {
    background-color: var(--bg-color-box);
    border-radius: 25px;
    border: 2px solid;
    background-repeat: no-repeat;
    background-size: cover;
}

.circle {
    z-index: -1;
    width: 50%;
    height: 400px;
    border-radius: 100%;
    position: absolute;
}

/*Area lancamentos*/




/*membros*/
#equipe {
    margin: 70px;
    min-height: 100vh;
}

#lista {
    display: grid;
    margin-top: 8vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15vh;
}

.membros {
    display: grid;
    justify-items: center;
}

.imgMembro {
    width: 186px;
    height: 249px;
}

.nome {

    font-size: 2vw;
    font-weight: var(--font-title-weight);
    text-align: center;
}

/*membros*/

/*footer*/
#footer {
    /* margin-top: 10vh; */
    height: 100vh;
    margin-bottom: 0px;
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}

#faleConosco {
    margin: 70px;
    margin-top: 100px;
    width: 50vw;
}

#faleSpace {
    border-collapse: separate;
    border-spacing: 1.5vw 4vh;
}

#faletext {
    margin-top: 30px;
    font-size: 5vw;
    font-weight: var(--font-title-weight);
    width: 20vw;
}

#socialText {
    font-size: 3vw;
    font-weight: var(--font-title-weight);
    margin: 1vh 0 1vh 0;
}

#formCont {
    margin: 2vh 5vw;
    width: 40vw;
    height: auto;
    backdrop-filter: blur(250px);
    background-color: #110E27;
    border-radius: 25px;
    border: #DE574D 5px solid;
}

#align {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#nome {
    height: 7vh;
    margin: 5% 0;
}

#email {
    height: 7vh;
    margin: 5% 0;
}

#mensagem {
    height: 30vh;
    vertical-align: top;
    resize: none;
    padding-top: 10px;
    margin: 5% 0;
}


#buttonStyle {
    background-color: #DE574D;
    height: 3.5vh;
    width: 40%;
    border: none;
    border-radius: 15px;
    font-size: x-large;
    align-self: self-end;
    margin-top: 8%;
    display: block;
}

.subtitle {
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 5%;
}

.description {
    font-size: 1vw;
}

.iconFale {
    margin-top: 5%;
    width: 61px;
    height: 61px;
}

.icon {
    margin: 2% 4%;
    width: 51px;
    height: 51px;
}

.textForm {
    font-size: 1.5vw;
    font-weight: 300;
}

.boxStyle {
    background-color: #232036;

    border: none;
    border-radius: 25px;
    font-size: 1.5vw;
    font-weight: var(--font-title-weight);
    padding: 0 20px;
}

/*footer*/



.titulo {
    font-size: 5vw;
    font-weight: var(--font-title-weight);
    width: 50vw;
}


@media screen and (max-width: 980px) {
    hr {
        width: 100%;
    }

    /* header */

    .header {
        position: fixed;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #businessName {
        font-size: 2rem;

    }

    #menu-line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .headerText {
        font-size: 4vw;
        margin: 25px;
    }

    .rightSideText {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        transform: translateY(-150%);
        transition: transform 0.5s ease-in;
    }


    .linha {
        height: 3px;
        width: 40px;
        background-color: white;
    }

    .menu {
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        padding: 20px;
    }

    /* header */



    /* home */

    #colorOverlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    #gameName {
        font-size: 6vw;
        margin-bottom: 4%;
        font-family: "Libre Baskerville", serif;
        font-weight: var(--font-title-weight);
    }

    #gameDesc {
        display: none;
    }

    .gameInfo {
        position: relative;
        top: 60%;
        margin-left: 5%;
        max-width: 80%;
    }

    /* home */


    /* MVV */

    #mission {
        border-color: var(--bg-orange);
    }

    #vision {
        border-color: var(--bg-purple);
    }

    #values {
        border-color: var(--bg-blue);
    }

    #slogan {
        position: relative;
        top: 100px;
        font-size: x-large;
        font-weight: var(--font-title-weight);
    }

    #MVVSection {
        position: relative;
        top: 20vh;
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        align-items: center;
        gap: 25px;
        justify-content: space-between;
    }

    .MVVBackground {
        position: relative;
        width: 100%;
        min-height: 152vh;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .MVVTitle {
        font-size: 2vw;
        margin-left: 2%;
        margin-right: 2%;
        min-width: 80%;
        height: 35vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MVVTitle p {
        margin-top: 20px;
    }

    .MVVType {
        font-size: x-large;
    }

    .MVVDescription {
        font-size: 20px;
        font-family: Montserrat, serif;
        font-weight: 200;
        width: 70%;
        text-align: justify;
        hyphens: auto;
        overflow-wrap: break-word;
    }

    #line {
        display: none;
    }

    #line2 {
        display: none;
    }

    /* MVV */

    /* Lançamentos */


    #fundo {
        position: absolute;
        min-height: auto;
        width: 100vw;
        padding: 18px;
        /* padding-right: 0; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        /* align-items: center; */
    }

    #descricaoLancamentos {
        font-size: medium;
        text-align: justify;
        hyphens: auto;
    }

    #secaoImagens {
        display: flex;
        justify-content: stretch;
        align-items: center;
        width: 90%;
        height: 100%;
        /* gap:1px; */
    }

    .align-center {
        text-align: center;
        width: 90%;

    }

    .nomeLanc {
        font-size: 25px
    }

    #textoLancamentos {
        padding-top: 40px;
        width: 100%;
    }


    #img-align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 120%;
        gap: 10px;
    }

    #img1 {
        width: 60%;
    }

    #img2,
    #img3 {
        width: 100%;
    }

    #imgContainer {
        width: 40%;
    }

    .areaLancamentos {
        width: 100vw;
        min-height: 1750px;
    }

    /* Lançamentos */

    /* membros */
    #equipe {
        margin: 20px;
    }

    #lista {
        display: grid;
        margin-top: 8vh;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 100px;
    }

    .imgMembro {
        width: 90px;
        height: 130px;
    }

    .nome {
        margin: 10px 0;
        font-size: 25px;
        font-weight: var(--font-title-weight);
        text-align: center;
    }

    /* membros */

    /* footer */

    #footer {
        max-width: 100vw;
        height: auto;
        margin-bottom: 0px;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    #faleConosco {
        margin: 5px;
        margin-top: 100px;
        width: 80%;
    }

    #faletext {
        margin-top: 30px;
        font-size: 8vw;
        font-weight: var(--font-title-weight);
        width: 100%;
    }

    #formCont {
        width: 80%;
        height: auto;
        backdrop-filter: blur(250px);
        background-color: #110E27;
        border-radius: 25px;
        border: #DE574D 5px solid;
    }

    #socialText {
        font-size: medium;
    }

    .subtitle {
        font-size: small;
    }

    .description {
        font-size: smaller;
    }

    .iconFale {
        height: 52px;
        width: 52px;
    }

    .icon {
        height: 12vw;
        width: 12vw;
    }

    .textForm {
        font-size: medium;
    }

    .boxStyle {
        font-size: medium;
    }

    #buttonStyle {
        font-size: medium;
    }

    /* footer */

    .titulo {
        font-size: 30px;
    }
}

.header.roll {
    background-color: var(--bg-color-box);
    margin-top: 0;
    border-radius: 0;
    min-height: 10vh;
    /* height: 10vh; */
    width: 100vw;
}

.rightSideText.active {
    display: flex;
    transform: translateY(0);
    animation: rightSideTextSlide 0.3s ease-in;
}

.headerText.active {
    padding: 0 100%;
}

@keyframes rightSideTextSlide {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}